<div class="footer container">
    <div class="footer-section">
        <p class="title">RecipeAppDemo.com</p>
        <p>Join us in the kitchen and let your gastronomic adventures begin. The world of culinary delights is just a click away, and it's all waiting for you at RecipeAppDemo – where the love for food knows no bounds!</p>

    </div>
    <div class="footer-section">
        <p class="title">Contact Me</p>
        <p>ashtongragg&#64;icloud.com</p>
        <p>(828) 729-4080</p>
    </div>
    <div class="footer-section">
        <p class="title">Links</p>
        <p>Facebook</p>
        <p>Instagram</p>
        <p>Twitter</p>
    </div>
</div>