.recipe-hero {
    display: grid;
    gap: 3rem;
  }
  
  
  .recipe-image {
    width: 500px;
    height: 400px;
    border-radius: 5px;
    margin-top: 2em;
  }
  
  .recipe-info {
    display: flex;
    flex-direction: column;
    margin-top: 2em;
  }
  
  .recipe-icons {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    margin: 2rem 0;
    text-align: center;
  }
  
  fa-icon {
    font-size: 1.5rem;
    color: var(--primary-color);
  }

  .recipe-icons h5,
  .recipe-icons p {
    margin-bottom: 0;
    color: var(--text-color);
    font-size: 0.85em;
  }
  
  .recipe-content {
    padding: 3rem 0;
    display: grid;
    gap: 2rem 5rem;
  }
  
  .recipe-content h4 {
    color: var(--text-color);
  }
  
  .second-column {
    display: grid;
    row-gap: 2rem;
  }
  
  span {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 1.5rem;
    align-items: center;
    text-transform: uppercase;
    font-weight: bold;
    color: var(--primary-color);
    margin-bottom: 0;  
  }
  
  .steps {
    border-left: .2em solid var(--primary-color);
    margin-bottom: .5em;
    padding: .1em 0 .2em .5em;
    color: var(--text-color);
  }
  
  .line {
    border-bottom: 1px solid var(--text-light);
  }
  
  .ingr-subtitle {
    height: 2px;
    color: var(--text-color);
  }
  
  .ingredient-list {
    padding-bottom: 0.75rem;
    color: var(--text-color);
    border-left: .2em solid var(--primary-color);
    margin-bottom: .5em;
    padding: .1em 0 .2em .4em;
  }
  
  
  h2,
  h3,
  h4,
  h5 {
    margin: 0;
    margin-bottom: 1.38rem;
    font-family: var(--headingFont);
    font-weight: 400;
    line-height: 1.3;
    text-transform: capitalize;
    letter-spacing: var(--letterSpacing);
  }
  
  h1 {
    margin-top: 0;
    font-size: 3.052rem;
  }
  
  h2 {
    font-size: 2.441rem;
  }
  
  h3 {
    font-size: 1.953rem;
  }
  
  h4 {
    font-size: 1.563rem;
  }
  
  h5 {
    font-size: 1.25rem;
  }
  
  .img {
    width: 100%;
    display: block;
    object-fit: cover;
  }

  .title {
    text-align: left;
  }

  .nutrition-label {
    margin-top: 2em;
    margin-bottom: 2em;
    }
  
.recipes-container {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
      grid-gap: 1.5em;
      margin-bottom: 10%;
      margin-top: 5%;
    }
  
  .nutrition-visualization {
    margin-bottom: 3rem;
  }
  @media screen and (min-width: 992px) {
    .recipe-content {
      grid-template-columns: 2fr 1fr;
    }
  }
  
  @media screen and (min-width: 992px) {
    .recipe-hero {
      grid-template-columns: 4fr 5fr;
      align-items: center;
    }
  }