<div class="recipe-page">
    <section class="recipe-hero">
        <div class="image-container">
            <img [src]="recipe.image" alt="{{ recipe.title }}" class="recipe-image">
        </div>
        <article class="recipe-info">
            <h2>{{ recipe.title }}</h2>
            <h3>Description</h3>
            <p>{{ recipe.description }}</p>
            <div class="recipe-icons">
                <article>
                    <fa-icon class="icon" [icon]="faUserClock"></fa-icon>
                    <h5>Prep Time</h5>
                    <p>{{ recipe.prepTime }}</p>
                </article>
                <article>
                    <fa-icon class="icon" [icon]="faClock"></fa-icon>
                    <h5>Cook Time</h5>
                    <p> {{ recipe.cookTime }}</p>
                </article>
                <article>
                    <fa-icon class="icon" [icon]="faPlateWheat"></fa-icon>
                    <h5>Serving Size</h5>
                    <p>{{ recipe.servings }}</p>
                </article>
            </div>
        </article>
        
    </section>
    <section class="recipe-content">
        <article>
            <h4 class="step-title">Steps</h4>
            <div *ngFor="let stepNumber of recipe.stepNumbers; let i = index" class="steps">
                <span class="step-number">{{ stepNumber }}<div class="line"></div></span>{{ recipe.steps[i] }}
            </div>
        </article>
        <article class="second-column">
            <div>
                <h4>Ingredients</h4>
                <p *ngFor="let ingredient of recipe.ingredients" class="ingredient-list">{{ ingredient }}</p>
            </div>
        </article>
    </section>
</div>