<section>
    <div class="hero-section typography">
        <h1 class="title">About Us</h1>
        <p class="info">Welcome to BowlBytes, your culinary playground powered by the Spoonacular API. Explore a wide array of mouthwatering recipes, search for your favorites, and personalize your experience with theme changes. Whether you're a seasoned chef or a kitchen novice, our site has something delicious waiting for you. Dive in and let your culinary adventure begin!</p>
        <button class="btn" routerLink="/recipes">explore now</button>
    </div>
    <div class="hero-section gallery">
        <div class="image" *ngFor="let imageFile of imageFiles">
            <img [src]="imageFolder + imageFile" [alt]="'Image ' + imageFile" preload="auto">
        </div>
    </div>
</section>
