<div class="recipe-card">
    <div class="card-image">
        <img [src]="recipe.image" [alt]="recipe.title" preload="auto">
    </div>
    <div class="card-info">
        <p class="recipe-title">{{ recipe.title }}</p>
        <ng-container *ngIf="recipe.readyInMinutes !== undefined">
            <p class="readyInMinutes"> Ready in {{ recipe.readyInMinutes }} minutes</p>
        </ng-container>
        <button mat-button *ngIf="showViewButton" (click)="onRecipeClicked()" (click)="scrollToTop()" class="btn" >View Recipe</button>
    </div>
</div>
