@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
  }
  
  .recipe-card {
      position: relative;
      isolation: isolate;
      border-radius: 5px;
      overflow: hidden;
      box-shadow: 0 5px 15px var(--shadow-color);
      background-color: var(--background-color);
      opacity: 0;
      animation: fadeIn 1.75s forwards;
      height: 385px;
      width: 280px;
      margin: 0 auto;
    }
    
  .card-info {
      padding: 15px;
      display: flex;
      flex-direction: column;
      justify-content: space-between
    }
    
  .card-image {
      padding-top: 65%;
      height: 0;
      width: 100%;
      position: relative;
    }
  
  .card-image img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
    
  .recipe-title {
      font-size: 1.25em;
      font-weight: bold;
      margin-bottom: 0.5em;
      color: var(--text-color);
      margin-top: 0.25em;
    }
    
  .description {
      color: var(--text-light);
      font-size: 0.9em;
      letter-spacing: 1px;
    }
    
  .btn {
      font-size: 1em;
      font-weight: bold;
      color: var(--primary-color);
      background-color: var(--background-color);
      margin-top: 0.5em;
      display: inline-block;
      position: absolute;
      bottom: 12px;
      left: 1;
  }
    
  