.profile-header {
  padding: 1em;
}
mat-card {
    box-shadow: 0 5px 10px var(--shadow-color);
    padding: 1em;
    border-radius: 5px;
    border-left: .5em solid var(--primary-color);
    background-color: var(--background-color);
    margin-top: 1em;
    display: flex;
    gap: 1em;
    margin-bottom: 35%;
    margin-top: 5%;
}

mat-card-title {
  color: var(--text-color);
}